/* HEADER */

/* title and authors and affiliations */
header {
    margin: 0;
    padding: 0;
    padding-bottom: 1.5em;
    text-align: center;
}
header > h1 {
    margin: auto;
    padding: 0.5em;
    padding-top: 1.8em;
    max-width: 25cm;
    font-size: 2.5em;
    color: rgb(50, 50, 50);
}

header > p#authors {
    margin: 0;
    padding: 0;
    padding-top: 0.7em;
    font-size: 1.2em;
    line-height: 1.5em;
}
header > p#authors > sup {
    padding-left: 1.5px;
    font-size: 0.7em;
}

header > p#affil {
    margin: 0;
    margin-top: 1.5em;
    padding: 0;
    font-size: 1.0em;
}

header > p#affil > a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
header > p#affil > a:hover {
    color: rgb(70, 0, 199);
}

/* fast links */
div#fast-cards-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: auto;
    margin-top: 40px;
}

span.fast-card {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 110px;
    background: rgb(82, 82, 82);
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
span.fast-card > a > img {
    height: 30px;
    min-height: 30px;
    transform: translateY(2px);
}

span.fast-card#arxiv {
    background: rgb(179, 27, 27);
}
span.fast-card#arxiv > a > img {
    height: 25px;
    min-height: 25px;
}

span.fast-card#github {
    background: rgb(216, 216, 216);
}
span.fast-card#github > a > img {
    height: 40px;
    min-height: 40px;
}

span.fast-card#sqlite {
    background: rgb(148, 205, 228);
}
span.fast-card#sqlite > a > img {
    height: 38px;
    min-height: 38px;
    transform: translateY(3px);
}

span.fast-card > a > span.hidden {
    display: none;
}

/* graphical abstract */

header > div#graphical-abstract {
    width: 90%;
    max-width: 19cm;
    margin: auto;
    margin-top: 3em;
}

header > div#graphical-abstract > img {
    width: 100%;
}


/* abstract */

header > div#abstract {
    margin: 0;
    padding: 0;
}

header > div#abstract > h2 {
    margin: auto;
    margin-top: 1.0em;
    padding: 0;
}

header > div#abstract > p {
    width: 90%;
    max-width: 17cm;
    margin: auto;
    margin-top: 1.0em;
    text-align: justify;
    color: rgb(73, 73, 73);
    font-size: 1.1em;
    line-height: 1.3em;
}

img.auth-ico-orcid {
    height: 0.9em;
    transition: 0.3s;
}
img.auth-ico-orcid:hover {
    height: 1.1em;
    margin-bottom: -0.1em;
    transition: 0.3s;
}
img.auth-ico-scholar {
    height: 1.0em;
    transition: 0.3s;
}
img.auth-ico-scholar:hover {
    height: 1.2em;
    margin-bottom: -0.1em;
    transition: 0.3s;
}