/* GLOBAL */

body {
    margin: 0;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}


p {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

div#main-container {
    margin: auto;
    margin-top: 30px;
    padding: 0;
}
