table.results th {
    background-color: rgb(129 210 255);
    color: #ffffff;
    text-align: left;
}
table.results th:hover {
    background-color: rgb(85, 169, 214);
}

table.results th#Related_Paper {
    min-width: 110px;
}

table.results th#Date {
    min-width: 50px;
}

table.styled-table.results thead tr:hover,
table.results tbody td.number {
    cursor: cell;
}

table.results td.highest {
    font-weight: 600;
}





