div.tooltip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    z-index: 99;
    opacity: 100%;
    max-width: 30%;
}
div.tooltip.hidden {
    opacity: 0%;
    transition: ease-out 0.2s;
}

div.tooltip div.text-container {
    background-color: rgb(55 55 55);
    padding: 5px 9px;
    border-radius: 5px;
    color: antiquewhite;
    font-size: 0.9em;
    font-family: monospace;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
}

div.tooltip div.text-container span.locked-text {
    text-align: center;
    color: darkgray;
    font-size: 0.7em;
    padding-top: 0.4em;
}
div.tooltip div.text-container span.locked-text:hover {
    font-size: 0.8em;
    font-weight: 600;
    color: antiquewhite;
}

div.tooltip div.arrow {
    position: relative;
    z-index: 100;
    left: 50%;
    bottom: 0;
    width: 2px;
    height: 13px;
    background-color: rgb(55 55 55);
    transform: translateX(-50%);
    z-index: 98;
}

